section#projects {
  position: relative;
  height: 100%;
  width: 100vw;
  padding-top: 30vh;
  z-index: 1;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  color: #fff;

  h2 {
    position: absolute;
    top: 0;
    left: 20vw;
    font-size: 81px;
    transform: rotate(-90deg);
  }
}

@media screen and (max-width: 728px) {
  section#projects  {
    padding-top: 20vh;
  }
}
