@import "mixins";

#HeroScene {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background-image: url("/mesh-hero-port.png");
  background-size: 100vw 100vh;
  width: 100vw;
  overflow: hidden;

  .small-stripes {
    position: absolute;
    width: 150px;
    z-index: 0;
    left: 7%;
    top: 35%;
    opacity: 0.7;
  }

  .big-stripes {
    position: absolute;
    width: 250px;
    z-index: 0;
    right: -5%;
    bottom: -5%;
    opacity: 0.7;
  }

  nav {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: calc(100% - 120px);
    padding: 20px 60px;
    color: white;

    .logo {
      border-left: 3px solid white;
      padding-left: 4px;
      display: flex;
      flex-direction: column;
      cursor: pointer;
      font-size: 16px;
      text-transform: uppercase;
      color: white;
      line-height: 15px;
    }

    .separator {
      height: 40px;
      border: 1px solid white;
      width: 0px;
      margin: 0 35px;
    }

    .menu {
      display: flex;
      align-items: center;
      cursor: pointer;
      font-size: 14px;
      letter-spacing: 2px;

      p {
        margin-right: 10px;
      }

      i.fa-hamburger {
        font-size: 20px;
        margin-top: -3px;
      }
    }
  }

  h1 {
    font-size: 72px;
    margin-left: 10%;
    font-weight: 700;
    color: white;
    margin-top: -20px;
    z-index: 2;

    div {
      margin-bottom: -30px;
    }
  }

  .subtitle {
    margin-left: 10%;
    color: white;
    margin-top: -20px;
    font-weight: 400;
    font-family: "IBM Plex Sans";
  }

  .hero-gamepad {
    position: absolute;
    top: 41%;
    right: 18%;
    width: 16%;
    z-index: 1;
    transition: 2s all ease;
  }

  .hero-whistle {
    position: absolute;
    top: 23%;
    right: 10%;
    width: 12%;
    z-index: 2;
    transition: 1s all ease;
  }

  .hero-cube {
    position: absolute;
    top: 28%;
    right: 26%;
    transform: rotate(20deg);
    width: 10%;
    z-index: 0;
    transition: 0.5s all ease;
  }

  .hero-rocket {
    position: absolute;
    top: 47%;
    right: 9%;
    transform: rotate(20deg);
    width: 12%;
    z-index: 1;
    transition: 1s all ease;
  }

  .availability {
    position: absolute;
    bottom: 5%;
    left: 60px;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 3px;

    i {
      margin-right: 5px;
    }
  }

  .white-dot-top {
    top: 25vh;
    right: 20vw;
    background-color: white;
    animation: 2s rotateDots infinite linear;
  }

  .white-dot-bottom {
    top: 80vh;
    left: 5vw;
    background-color: white;
    animation: 5s rotateDots infinite;
  }

  .white-dot-medium {
    top: 90vh;
    right: 30vw;
    background-color: white;
    animation: 2s rotateDots infinite linear;
  }

  .white-dot-medium-top {
    top: 10vh;
    left: 35vw;
    background-color: white;
    animation: 5s rotateDots infinite;
  }
}
