@import "mixins";

#Skills {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 85vh;
  margin: 30vh 5vw 0 5vw;
  background-color: #d0e9ff;
  background-image: url("/white_stripes_huge.svg");
  background-size: 90vw 85vh;
  background-position: center;
  box-shadow: 15px 30px 10px rgba(50, 50, 93, 0.05);
  overflow: hidden;
  border-radius: 20px;

  .white-dot-medium {
    top: 70vh;
    right: 50vw;
    background-color: white;
    animation: 2s rotateDots infinite linear;
    z-index: 3;
  }

  .white-dot-medium-top {
    top: 8vh;
    right: 35vw;
    background-color: white;
    animation: 5s rotateDots infinite;
    z-index: 3;
  }

  .white-dot-left {
    top: 40vh;
    left: 2vw;
    background-color: white;
    animation: 2s rotateDots infinite linear;
    z-index: 3;
  }

  .white-dot-right {
    top: 25vh;
    right: 5vw;
    background-color: white;
    animation: 5s rotateDots infinite;
    z-index: 3;
  }

  .small-stripes {
    position: absolute;
    width: 120px;
    z-index: 0;
    bottom: 33%;
    right: 15%;
    opacity: 0.7;
    z-index: 2;
  }

  .circle-hole {
    position: absolute;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    top: 30px;
    right: 30px;
    background-color: white;
    box-shadow: inset 15px 30px 10px rgba(50, 50, 93, 0.05);
  }

  .title {
    position: absolute;
    font-size: 170px;
    opacity: 1;
    bottom: -3%;
    right: 2%;
    color: white;
    z-index: 2;
  }

  .paint {
    width: 50%;
    position: absolute;
    top: 5%;
    right: 0%;
    animation: 10s floatingPaint infinite;
  }

  .computer {
    position: absolute;
    left: 60%;
    width: 40%;
    top: 5%;
    z-index: 0;
    animation: 10s floatingComputer infinite;
  }

  .column {
    position: relative;
    color: #4447b3;
    flex-direction: column;
    width: 40%;
    height: 90%;
    z-index: 1;

    .code-skills-list,
    .design-skills-list {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      background-color: white;
      box-shadow: 10px 10px 30px rgba(50, 50, 93, 0.15);
      padding: 25px 20px;
      border-radius: 15px;
      max-width: 60%;
      transition: 1s all ease;

      &:hover {
        margin-top: -20px;
        box-shadow: 20px 20px 50px rgba(50, 50, 93, 0.3);
      }

      .skill {
        display: flex;
        align-items: center;
        font-size: 14px;
        font-family: "IBM Plex Sans";
        z-index: 1;

        .icon-wrapper {
          @include flex;
          height: 42px;
          width: 50px;

          i {
            margin-right: 5px;
            color: #15d0b5;
          }
        }
      }
    }

    h3 {
      font-size: 42px;
      margin-bottom: 30px;
    }

    &:first-child {
      margin-right: 5%;
    }
  }

  @keyframes floatingComputer {
    from {
      top: 5%;
      transform: rotate(10deg);
    }
    50% {
      top: 0%;
      transform: rotate(0deg);
    }
    to {
      top: 5%;
      transform: rotate(10deg);
    }
  }

  @keyframes floatingPaint {
    from {
      top: 5%;
      transform: rotate(-10deg);
    }
    50% {
      top: 10%;
      transform: rotate(0deg);
    }
    to {
      top: 5%;
      transform: rotate(-10deg);
    }
  }
}
