@import "mixins";

#Works {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 50vh;
  width: 90%;
  padding: 5%;

  .medium-stripes {
    position: absolute;
    width: 200px;
    z-index: 0;
    left: -2%;
    top: 5%;
    opacity: 0.7;
    z-index: 0;
  }

  .small-stripes {
    position: absolute;
    width: 120px;
    z-index: 0;
    bottom: 20%;
    right: 3%;
    opacity: 0.7;
    z-index: 2;
  }

  .column {
    position: relative;
    @include flex;
    color: #4447b3;
    flex-direction: column;
    width: 40vw;
    height: 100%;
    box-shadow: 0 10px 20px rgba(50, 50, 93, 0.1);
    z-index: 1;
    transition: 1s all ease;

    p {
      font-family: "IBM Plex Sans";
      width: 60%;
      text-align: center;
    }

    &:first-child {
      margin-right: 5%;
    }

    &:hover {
      box-shadow: 0 30px 30px rgba(50, 50, 93, 0.3);
      margin-top: -30px;
    }
  }

  .pro-left {
    background-image: url("/mesh-works.png");
    background-size: 50vw 60vh;
    border-radius: 15px;

    .diamond {
      position: absolute;
      width: 25%;
      top: -20%;
      right: -5%;
      animation: 10s floatingDiamond infinite;
      transition: 1s all ease;
    }
  }

  .perso-right {
    background-color: white;
    border-radius: 15px;

    .folder {
      position: absolute;
      width: 30%;
      bottom: -10%;
      left: -5%;
      transform: rotate(15deg);
      animation: 10s floatingFolder infinite;
      transition: 1s all ease;
    }
  }

  .pink-dot-top {
    top: 25vh;
    right: 3vw;
    background-color: #ec98e1;
    animation: 5s rotateDots infinite linear;
  }

  .pink-dot-bottom {
    top: 75vh;
    left: 5vw;
    background-color: #ec98e1;
    animation: 2s rotateDots infinite;
  }

  .blue-dot-medium {
    top: 10vh;
    left: 10vw;
    background-color: #74bff7;
    animation: 5s rotateDots infinite;
    z-index: 2;
  }

  .blue-dot-top {
    top: 0vh;
    right: 40vw;
    background-color: #74bff7;
    animation: 2s rotateDots infinite;
  }

  .dark-blue-dot-bottom {
    bottom: 0vh;
    right: 20vw;
    background-color: #4447b3;
    animation: 4s rotateDots infinite;
    z-index: 2;
  }

  @keyframes floatingDiamond {
    from {
      top: -25%;
      transform: rotate(20deg);
    }
    50% {
      top: -20%;
      transform: rotate(0deg);
    }
    to {
      top: -25%;
      transform: rotate(20deg);
    }
  }

  @keyframes floatingFolder {
    from {
      bottom: -15%;
      transform: rotate(20deg);
    }
    50% {
      bottom: -10%;
      transform: rotate(-10deg);
    }
    to {
      bottom: -15%;
      transform: rotate(20deg);
    }
  }
}
