.detail-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  color: #fff;

  .detail-navigation {
    position: absolute;
    left: 5vw;
    bottom: 5vw;
    z-index: 999;

    a {
      color: #fff;
      text-decoration: none;
      font-family: "Montserrat", sans-serif;
      font-weight: 900;
      margin-right: 30px;

      i {
        margin: 10px;
      }
    }
  }

  section {
    display: flex;
    height: 100%;

    .column {
      display: flex;
      width: 50vw;

      &.detail-right {
        transition: 0.5s all ease;
        opacity: 0.2;
        background-size: 95%;
      }

      &.detail-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 1;

        a, .detail-title, .detail-subtitle, .detail-year {
          margin-left: 5vw;
        }

        a { 
          color: #fff;

          i { 
            margin-left: 10px;
            font-size: 12px;
          }
        }

        .detail-title {
          font-size: 72px;
          margin-right: -30vw;
        }

        .detail-year {
          font-family: "Montserrat", sans-serif;
          font-weight: 900;
          margin-bottom: 100px;
        }

        .detail-subtitle {
          font-size: 42px;
        }
      }
    }
  }
}

@media screen and (max-width: 728px) {
  .detail-page {
    align-items: flex-start;

    .detail-navigation {
      width: 90vw;
      font-size: 12px;
      display: flex;
      justify-content: space-between;

      a { margin-right: 0; }
    }

    section {
      .column.detail-right {
        display: none;
      }

      .column { width: 100%; }

      .column.detail-left .detail-title {
        font-size: 48px;
        margin-right: 0;
      }

      .column.detail-left .detail-subtitle {
        font-size: 28px;
        margin-right: 0;
      }
    }
  }
}