$pink: #ffe8e8;
$darker-pink: #ff5b5b;

.hero-cursor {
  position: absolute;
  width: 150px;
  height: 150px;
  top: 0;
  left: 0;
  background: $pink;
  border-radius: 50%;
  backface-visibility: hidden;
  pointer-events: none;
  z-index: 100;
  mix-blend-mode: color-dodge;
  transition: 1s opacity ease;
}

section.hero-scene {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  color: #fff;

  .hero-scene-wrapper {
    opacity: 0;
    animation: 2s fadeIn;
    animation-fill-mode: forwards;
    animation-delay: 0.2s;
  }

  h1 {
    font-size: 130px;
    margin-top: 0;
    margin-bottom: 0;

    &.first { 
      margin-bottom: -60px; 
      margin-top: 5vh;
    }
  }

  .skillset {
    position: absolute;
    top: 22vh;
    left: 0;
    list-style: none;
    text-transform: uppercase;

    .tools { font-size: 12px; }
  }

  .availability {
    position: absolute;
    right: 2vw;
    bottom: 29vh;
    font-size: 12px;
    letter-spacing: 4px;
    text-transform: uppercase;
  }

  .scroll-animation {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 20px;
    height: 40px;
    bottom: 3vh;
    left: calc(50vw - 10px);
    border: 2px solid #fff;
    border-radius: 32px;

    .mouse-scroll-ball {
      width: 6px;
      height: 6px;
      margin-top: 10px;
      background-color: #fff;
      border-radius: 50%;
      animation: 4s scrollBall infinite;
    }
  }

  .circle {
    position: absolute;
    width: 300px;
    height: 300px;
    background-color: $darker-pink;
    border-radius: 50%;
    z-index: -100;
    transition: 0.5s all ease;
  }

  .circle-top {
    top: 10vh;
    right: 10vw;
  }

  .circle-bottom {
    bottom: 10vh;
    left: 10vw;
  }
}

@media screen and (max-width: 728px) {
  section.hero-scene {
    .hero-cursor { display: none; }

    h1 { font-size: 48px; }

    h1.first {
      margin-bottom: -23px;
    }

    .availability {
      left: -15px;
      position: unset;
    }

    .skillset {
      margin-top: 30px;
      left: -15px;
      padding-left: 10px;
      position: unset;
    }

    .circle-bottom {
      display: none;
    }
  }
}

@keyframes scrollBall {
  from { margin-top: 10px; }
  80% { margin-top: 20px; }
  to { margin-top: 10px ;}
}

@keyframes rotateCross {
  from {
    margin-top: 0px;
    transform: rotate(0deg);
  }
  50% {
    margin-top: 15px;
    transform: rotate(180deg);
  }
  to {
    margin-top: 0px;
    transform: rotate(360deg);
  }
}