.CTA-Button {
  background-color: #4447b3;
  color: white;
  height: 22px;
  font-weight: 700;
  border-radius: 50px;
  cursor: pointer;
  padding: 15px 35px;
  white-space: nowrap;
  margin-top: 30px;
  box-shadow: 0 5px 30px rgba(50, 50, 93, 0.2);
  transition: 1s all ease;
  position: relative;

  i {
    position: absolute;
    margin-left: 5px;
    right: 30px;
    top: 17px;
  }

  &:hover {
    background-color: #1a1e80;
    box-shadow: 0 8px 35px rgba(50, 50, 93, 0.6);

    i {
      animation: 0.5s rotateArrow linear;
    }
  }
}
