header {
  width: 92%;
  height: 13vh;
  position: fixed;
  display: flex;
  z-index: 999;
  font-size: 12px;
  align-items: center;
  justify-content: space-between;

  .profession {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 728px) {
  header .profession { display: none; }
}
