section#about {
  height: 100%;
  width: 100vw;
  display: flex;
  padding: 20% 0 5% 0;
  z-index: 5;
  line-height: 30px;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: "Montserrat", sans-serif;

  h5 {
    font-size: 20px;

    &:first-child {
      margin-top: 0px;
    }
  }

  .about-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 70%;

    .intro {
      font-weight: 900;
      font-size: 32px;
    }

    .bolder { font-weight: 900; }

    ul { list-style: square; }

    .about-column {
      width: 45%;

      &.skills {
        margin-right: -10%;
        opacity: 0;
      }

      &.presentation { 
        text-align: left;
        margin-left: -10%;
        opacity: 0;
        font-size: 14px;
        line-height: 24px;
        padding: 40px;
        background-color: #35c9d8;
        width: calc(45% - 80px);

        p:first-child {
          margin-top: 0px;
        }

        p:last-child {
          margin-bottom: 0px;
        }
      }
    }
  }
}

.transition-about-left {
  animation: 2s slideFromLeft;
  animation-fill-mode: forwards;
}

@keyframes slideFromLeft {
  from { 
    margin-left: -10%;
    opacity: 0;
  }
  to { 
    margin-left: 0;
    opacity: 1;
  }
}

.transition-about-right {
  animation: 2s slideFromRight;
  animation-fill-mode: forwards;
}

@keyframes slideFromRight {
  from { 
    margin-right: -10%;
    opacity: 0;
  }
  to { 
    margin-right: 0;
    opacity: 1;
  }
}

@media screen and (max-width: 728px) {
  section#about {
    h5:first-child {
      margin-top: 40px;
    }

    ul {
      padding-left: 20px;
      font-size: 14px;
      line-height: 24px;

      li { margin-bottom: 15px; }
    }

    .about-container {
      flex-direction: column;
      width: 100%;

      .about-column, {
        width: 100%;

        &.skills {
          width: calc(100% - 80px);
          padding: 40px;
        }

        &.presentation {
          width: calc(100% - 80px);
        }
      }
    }
  }
}
