section#about {
  height: 100%;
  width: 100vw;
  display: flex;
  padding: 20% 0 5% 0;
  z-index: 5;
  line-height: 30px;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;

  h5 {
    font-size: 20px;

    &:first-child {
      margin-top: 0px;
    }
  }

  .about-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 70%;

    .intro {
      font-weight: 900;
      font-size: 32px;
    }

    .bolder { font-weight: 900; }

    ul { list-style: square; }

    .about-column {
      width: 40%;

      &.skills {
        margin-right: -10%;
        opacity: 0;
      }

      &.presentation { 
        text-align: justify; 
        margin-left: -10%;
        opacity: 0;

        p:first-child {
          margin-top: 0px;
        }
      }
    }
  }
}

.transition-about-left {
  animation: 2s slideFromLeft;
  animation-fill-mode: forwards;
}

@keyframes slideFromLeft {
  from { 
    margin-left: -10%;
    opacity: 0;
  }
  to { 
    margin-left: 0;
    opacity: 1;
  }
}

.transition-about-right {
  animation: 2s slideFromRight;
  animation-fill-mode: forwards;
}

@keyframes slideFromRight {
  from { 
    margin-right: -10%;
    opacity: 0;
  }
  to { 
    margin-right: 0;
    opacity: 1;
  }
}

@media screen and (max-width: 728px) {
  section#about .about-container {
    flex-direction: column;
    width: 80%;

    .about-column {
      width: 100%;
    }
  }
}
