@import "mixins";

#About {
  position: relative;
  height: 140vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #2a2b56;
  width: 100vw;
  overflow: hidden;

  .big-stripes {
    position: absolute;
    width: 250px;
    z-index: 0;
    left: 10%;
    top: 40%;
    opacity: 0.7;
  }

  .medium-stripes {
    position: absolute;
    width: 170px;
    z-index: 0;
    bottom: 15%;
    right: -40px;
    opacity: 0.7;
  }

  .girl-wrapper {
    position: relative;
    @include flex;
    height: 60%;
    width: 40%;

    .robot {
      position: absolute;
      height: 100%;
      animation: 10s floatingRobot infinite;
      transition: 1s all ease;
    }
  }

  .about-section {
    width: 40%;
    height: 70%;
    position: relative;
    margin-top: 8%;
    color: #4447b3;

    h2 {
      font-size: 64px;
      letter-spacing: -2px;
      margin-bottom: 40px;
      z-index: 1;
      position: relative;
    }

    .small-stripes {
      position: absolute;
      width: 120px;
      z-index: 0;
      top: 90px;
      left: -70px;
      opacity: 0.7;
    }

    .intro {
      width: 70%;
      margin-bottom: 50px;
      font-family: "IBM Plex Sans";

      strong {
        color: #74bff7;
      }
    }
  }

  .floppy {
    position: absolute;
    width: 7%;
    bottom: 25%;
    left: 10%;
    z-index: 1;
    transform: rotate(-10deg);
    animation: 15s floatingFloppy infinite;
    transition: 1s all ease;
  }

  .bulb {
    position: absolute;
    width: 7%;
    top: 15%;
    left: 30%;
    z-index: 1;
    transform: rotate(-10deg);
    animation: 15s floatingBulb infinite;
    transition: 1s all ease;
  }

  .pink-dot-top {
    top: 25vh;
    right: 5vw;
    background-color: #ec98e1;
    animation: 5s rotateDots infinite linear;
  }

  .pink-dot-bottom {
    top: 80vh;
    left: 5vw;
    background-color: #ec98e1;
    animation: 2s rotateDots infinite;
  }

  .blue-dot-top {
    top: 20vh;
    left: 5vw;
    background-color: #74bff7;
    animation: 5s rotateDots infinite;
  }

  .blue-dot-medium {
    top: 40vh;
    right: 15vw;
    background-color: #74bff7;
    animation: 2s rotateDots infinite;
  }

  .dark-blue-dot-medium {
    top: 45vh;
    left: 40vw;
    background-color: #4447b3;
    animation: 5s rotateDots infinite linear;
  }

  .dark-blue-dot-bottom {
    bottom: 30vh;
    right: 20vw;
    background-color: #4447b3;
    animation: 4s rotateDots infinite;
  }

  @keyframes floatingRobot {
    from {
      top: -10%;
    }
    50% {
      top: 0%;
    }
    to {
      top: -10%;
    }
  }

  @keyframes floatingFloppy {
    from {
      bottom: 20%;
      transform: rotate(-20deg);
    }
    50% {
      bottom: 25%;
      transform: rotate(10deg);
    }
    to {
      bottom: 20%;
      transform: rotate(-20deg);
    }
  }

  @keyframes floatingBulb {
    from {
      top: 15%;
      transform: rotate(50deg);
    }
    50% {
      top: 20%;
      transform: rotate(10deg);
    }
    to {
      top: 15%;
      transform: rotate(50deg);
    }
  }

  @keyframes rotateArrow {
    from {
      transform: rotate(0deg);
    }
    20% {
      transform: rotate(-20deg);
    }
    40% {
      transform: rotate(20deg);
    }
    60% {
      transform: rotate(-20deg);
    }
    80% {
      transform: rotate(20deg);
    }
    to {
      transform: rotate(0deg);
    }
  }
}
