$blue: #3a9cff;

section#contact {
  position: relative;
  height: 80vh;
  width: 100vw;
  display: flex;
  z-index: 1;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  color: #fff;

  .contact-container {
    opacity: 0;
    z-index: 1;
  }
  
  .social-icons {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 70vw;
    margin-top: 50px;
    font-size: 24px;

    a { color: #fff; }

    i { margin-right: 20px; }
  }

  .contact-infos {
    width: 70vw;

    .text-wrapper {
      display: flex;
      height: 5vh;
      font-size: 24px;
      margin-bottom: 10vh;
    }

    .mail-wrapper {
      display: flex;
      align-items: center;

      img {
        border-radius: 50%;
        margin-right: 40px;
      }
    }

    .send-email {
      font-size: 14px;
      margin: 0;
    }

    .disponibility {
      font-weight: 900;
      margin: 10vh 0;
    }

    a {
      color: #fff;
      font-size: 48px;
    }
  }

  .circle {
    position: absolute;
    width: 400px;
    height: 400px;
    background-color: $blue;
    border-radius: 50%;
    z-index: 0;
    transition: 0.5s all ease;
  }

  .circle-top {
    top: -2vh;
    right: -2vw;
  }

  .circle-bottom {
    bottom: -2vh;
    left: -2vw;
  }
}

.transition-on {
  animation: 2s fadeIn;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
    margin-top: 20vh;
    opacity: 0;
  }
  to {
    margin-top: 0;
    opacity: 1;
  }
}


@media screen and (max-width: 728px) {
  section#contact {
    height: 100%;
    padding: 20% 0;
    text-align: center;

    .social-icons {
      width: 100vw;
      align-items: center;
      justify-content: center;

      a:last-child {
        i { margin-right: 0; }
      }
    }

    .contact-infos {
      width: 100%;

      .disponibility {
        margin: 10vh;
      }

      .text-wrapper {
        margin-left: 5vw;
        margin-right: 5vw;
      }

      .mail-wrapper {
        flex-direction: column;

        img {
          margin-right: 0;
          margin-bottom: 30px;
        }
      }

      a { font-size: 18px; }
    }
  }
}