header {
  position: relative;
  width: 92%;
  height: 13vh;
  position: fixed;
  display: flex;
  z-index: 999;
  font-size: 14px;
  align-items: center;
  justify-content: space-between;

  .logo { 
    cursor: pointer;
    position: absolute;
  }

  .mobile-only {
    display: none;
  }

  .center-menu {
    max-width: 20%;
    height: 30px;
    margin-left: 48%;
    display: flex;
    align-items: center;
    justify-content: center;

    .language-menu {
      padding-left: 16px;
      margin-left: 16px;
      font-family: "Montserrat", sans-serif;

      span {
        height: 100%;
        margin-right: 16px;
        cursor: pointer;

        &.bolder {
          font-weight: 900;
        }
      }
    }

    .theme {
      position: relative;
      overflow: hidden;
      height: 16px;
      width: 16px;
      cursor: pointer;

      .fa-moon { 
        position: absolute;
        top: 3px;
        right: 0px;
        animation: 1s moonDown;
      }
      
      .fa-sun { 
        position: absolute;
        top: 3px;
        right: 0px;
        animation: 1s sunRise;
      }
    }
  }

  nav {
    cursor: pointer;

    .fa-bars { margin-left: 5px; }
  }

  ul {
    position: absolute;
    right: 0;
    top: 50px;
    list-style: none;
    text-align: right;

    a {
      text-decoration: none;
    }
    
    li {
      padding: 10px 0;
      margin: 5px 0;
      cursor: pointer;

      span {
        font-family: "Montserrat", sans-serif;

        &:first-child {
          margin-right: 10px;
        }

        &.bolder {
          font-weight: 900;
        }
      }
    }
  }
}

@keyframes moonDown {
  from {
    top: -20px;
  }
  to {
    top: 2;
  }
}

@keyframes sunRise {
  from {
    top: 20px;
  }
  to {
    top: 0;
  }
}

@media screen and (max-width: 728px) {
  header {
    .logo {
      position: relative;
    }

    .center-menu { 
      display: none;
    }

    .mobile-only {
      display: block;
    }
  }
}
