$pink: #8646ee;

.cursor-small {
  position: fixed;
  width: 15px;
  height: 15px;
  top: 0;
  left: 0;
  background-color: $pink;
  border-radius: 80%;
  backface-visibility: hidden;
  pointer-events: none;
  z-index: 999;
}

@media screen and (max-width: 728px) {
  .cursor-small { display: none; }
}

.app {
  position: relative;
  width: 100vw;
  cursor: none;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 728px) {
  .app { cursor: initial; }
}
