@font-face {
  font-family: 'Avenir';
  src: local('Avenir'), url(./fonts/AvenirLTStd-Book.otf) format('woff');
}

body {
  margin: 0;
  font-family: 'Avenir', 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: none;
}

.estelle-gresillon {
  position: relative;
  width: 100vw;
  cursor: none;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 728px) {
  .estelle-gresillon { cursor: initial; }
}

body::-webkit-scrollbar {
  display: none;
}

::selection {
  background: red;
  color: white;
}

.title-stroke {
  font-weight: 900;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  -webkit-text-stroke-width: 1px;
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
}

.title-plain {
  font-weight: 900;
  font-family: "Montserrat", sans-serif;
}
