@font-face {
  font-family: "Bigilla";
  src: local("Bigilla"), url(../fonts/Bigilla.otf) format("woff");
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy"), url(../fonts/Gilroy-ExtraBold.otf) format("woff");
}
